.counter {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;

}
.counter p{
 margin: 10px;
}

.newColumn p{
    margin-top: -24px;
    margin-left: -350px;
}
.newColumn button{
    margin-top: 35px;
    margin-left: -450px;
}

button{
    width: 60px;
    height: 30px;
}
textarea{
    margin-left: 10px;
    width: 90px;
    height: 23px;

}
.newBtn{

}


